body{
    background-color: gainsboro;
    text-align: center;
}
header{
    background-color: black;
    color:white;
}
footer{
    background-color: black;
    color:white;
}
img{
    width: 1024px;
    height: 720px;
}